footer{
    background-color: $black;
    color: $off-white;
    font-size: 0.9em;
    padding: 0.5em 0 0.2em;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}