header {
    background-size: cover;
    color: $off-white;
    height: 83vh;
}
.blog, .contact {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
        .top-nav {
            width: 100%;
            background-color: black;
        }  
    }
    h1 {
        padding-bottom: 1.7em;
    }
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.top-nav {
    display: flex;
    align-items: flex-end;
    // padding: 1.35em 0;
    padding-top: 8px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 550px;
        text-transform: uppercase;
        letter-spacing: 1px;    
        li:not(:first-child) {
            padding-bottom: 0.8em;
            font-weight: 700;
        }
    }
    a {
        padding: 1em 0;
    }
}
