.read-more,
.find-more,
.post-btn {
    background-color: $green;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    width: 18ch;
    padding: 0.5em 0;
    margin: 1.8em 0;
}
.discover-content .read-more {
    display: inline-block;
    text-align: center;
    width: 13ch;
    margin-bottom: 0;
}
.find-more {
    display: inline-block;
    text-align: center;
}
.post-btn {
    width: 100%;
    padding: 0.8em;
    margin: 0;
}
@media (max-width: 700px) {
    .read-more,
    .find-more {
        align-self: center;
    }
}