.comment {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    img {
        width: 100px;
        height: 100px;
        margin-top: 5px;
    }
    .comment-content {
        margin-left: 2.15em;
    }
}
.comment-info {
    @include postDate(false);
}
@media (max-width: 1280px) {
    .comment img {
        width: 63px;
        height: 63px;
    }
}