.comment {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    img {
        width: 100px;
        height: 100px;
        margin-top: 5px;
        margin-right: 2.15em;
    }
}
.comment-info {
    @include postDate(false);
}
@media (max-width: 1280px) {
    .comment img {
        width: 63px;
        height: 63px;
    }
}
@media (max-width: 700px) {
    .comment {
        display: block;
        img {
            float: left;
        }
        .comment-info time {
            display: block;
        }
    }
}