.social-list {
    display: inline-block;
    ul {
        display: flex;
        justify-content: space-between;
        width: 115px;
    }
    a {
        color: $green;
        position: relative;
        padding: 3px;
        &:hover,
        &:focus {
            color: white;
        }
        &:focus {
            outline: 1px dotted $green;
            outline-offset: 5px;
        }
        &::before {
            @include pseudo-els;
            height: 2em;
            width: 2em;
            left: 45%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            transition: background-color 200ms ease-in;
        }
        &:hover::before,
        &:focus::before {
            background-color: $green;
        }
    }
}
