html {
    font-size: 62.5%;
}
body {
    font-family: $font-body;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
}
h1, h2, h3, h4, 
input, textarea, button,
.logo, .top-nav, .read-more {
    font-family: $font-header;
}
h1 {
    font-size: 4em;
    font-weight: 700;
}
h1 span {
    color: $sunny-yellow;
}
h2, h3 {
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
}
h4 {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 0.5em;
}
.home {
    h1 {
        font-size: 8.3em;
        font-weight: 400;
        line-height: 0.83em;
    }
    .about h2 {
        font-size: 2.8em;
        letter-spacing: 1.3px;
    }
}
.blog-title {
    font-size: 2.1em;
    font-weight: 700;
    letter-spacing: 1.3px;
}
@media (max-width: 1280px) {
    body { font-size: 1.6rem; }
}
@media (max-width: 1028px) {
    body { font-size: 1.3rem; }
}
@media (max-width: 992px) {
    body { font-size: 1.2rem; }
}
@media (max-width: 700px) {
    .home {
        h1 {
            font-size: 5.2em;
        }
    }
}
main a {
    color: $forest-green;
    font-weight: 700;
    font-style: italic;
    position: relative;
    z-index: 1;
}
aside a {
    &::before {
        @include pseudo-els;
        width: 0%;
        height: 40%;
        left: 0;
        bottom: 0%;
        transform: skewX(-35deg);
        background-color: $sunny-yellow;
        z-index: -1;
        transition: width 200ms ease-in;
    }
    &:hover::before,
    &:focus::before {
        width: 110%;
    }
}
.logo {
    font-size: 2.2em;
    text-transform: capitalize;
}
.publish-info {
    @include postDate(true);
}
address p {
    &:first-child {
        font-family: $font-header;
        font-size: 1.1em;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 0.5em 0;
    }
}