.blog {
        background-color: $off-white;
    header {
        background-image: url(../assets/blog-header-1.jpg);
    }
    h1 {
        padding-bottom: 0.75em;
    }
    .sidebar .wrapper-lg {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img {
            box-shadow: 30px 15px 0 -15px white,
            30px 0 0 -15px white;
        }
    }
    .blog-banner {
        @include imgShadow(true);
    }
}
.post-container {
    margin-left: -10px;
    padding: 4em 0 0.65em $blog-padding;
    box-shadow: -5px 5px 0 $sunny-yellow;
}
.post-content {
    padding-top: 1.8em;
    p {
        margin: 1em 0;
    }
}
.comments-container {
    margin: 0 -10px;
    padding: 2.4em 0;
    padding-left: $blog-padding;
}
.side-container {
    width: 73%;
    background-color: white;
    box-shadow: 15px 0 0 white;
    padding: 20px 15px;
    p {
        margin-bottom: 3em;
    }
    li::before {
        content: "\2022";
        color: $green;
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.8em;
    }
}