.home {
    background-color: white;
    header {
        background-image: url(../assets/home-image-1.jpg);
        height: 83vh;
        position: relative;
        .top-nav {
            background: none;
        }
    }
    h1 {
        height: 100%;
        width: 7ch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0.55em;
        z-index: 2;
    }
    .header-img {
        position: absolute;
        width: 44vw;
        min-width: 480px;
        max-width: 845px;
        right: 0;
        bottom: -14%;
    }
}
@media (max-width: 1280px) {
    .home header {
        background-position: 45%;
    }
}
@media (max-width: 768px) {
    .home .header-img {
        display: none;
    }
}
@media (max-width: 700px) {
    .home {
        header {
            height: 55vh;
        }
        h1 {
            justify-content: flex-end;
            padding-bottom: 100px;
        }
    }
}
.about-container {
    background-color: $off-white;
}
.about {
    text-align: center;
    margin: 0 auto;
    width: 65%;
    padding: 12em 0;
}
@media (max-width: 768px) {
    .about {
        padding: 8em 0;
    }
}
@media (max-width: 700px) {
    .about {
        width: 90%;
    }
}
section {
    background-color: white;
}
.grid {
    position: relative;
    top: $shadow-adjust;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8% 15%;
    img {
        @include imgShadow(false);
    }
    img.flip {
        order: 4;
        @include imgShadow(true);
    }
    .discover-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 125px;
    }    
    div.flip {
        order: 3;
        text-align: right;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 30px;
        margin-left: 125px;
        margin-right: 0;
    }
    div p {
        margin: 0.7em 0;
    }
}
@media (max-width: 1028px) {
    .grid {
        gap: 11%;
        .discover-content {
            margin-right: 15%;
        }
        div.flip {
            margin-left: 15%;
        }
    }
}
@media (max-width: 768px) {
    .discover {
        padding: 5em 0 3.6em;
    }
}
@media (max-width: 700px) {
    .discover {
        padding: 0;
        margin: 0 0 9.6em;
    }
    .grid {
        grid-template-columns: 1fr;
        gap: 5%;
        img {
            width: 93%;
            margin: 0 auto 0 0;    
        }
        img.flip {
            order: 3;
            width: 93%;
            margin: 0 0 0 auto;    
        }
        .discover-content,
        div.flip {
            margin: 0 5%;
        }
    }
}
.more-info {
    background-color: $off-white;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 6.5em 0 3.6em;
    }
    li {
        padding-left: 3.8em; 
        width: 50%;
        margin: 1em 0;
        p {
            margin: 0.75em 0.25em;
        }
    }
}
@media (max-width: 700px) {
    .more-info {
        ul {
            display: block;
            padding-top: 4.6em;
        }
        li {
            width: 100%;
            p {
                margin-top: 0;
                margin-bottom: 2em;
            }
        }
    }
}
.founder {
    background-color: $off-white;
    padding: 6em 0;
    .wrapper {
        display: flex;
    }
    .founder-img {
        width: 100%;
    }
    img {
        @include imgShadow(false);
    }
    .founder-content {
        margin-left: 6.4em;
    }
    @media (max-width: 768px) {
        .founder-img {
            flex-shrink: 0;
            width: 25%;
        }
    }
}
@media (max-width: 700px) {
    .founder {
        .wrapper {
            display: block;
        }
        .founder-img,
        .founder-content {
            width: 65%;
            margin: 0 auto;
        }
        .founder-content {
            margin-top: 4em;
            display: flex;
            flex-direction: column;
        }
    }
}
.gallery-container {
    background-color: white;
    padding: 5.2em 0;
}