.home {
    header {
        background-image: url(../assets/home-image-1.jpg);
    }
    h1 {
        height: 100%;
        width: 7ch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-top: 0.55em;
        z-index: 2;
    }
    .header-img {
        width: 44%;
        position: absolute;
        right: 0;
        top: 23%;
    }
}
.about-container {
    background-color: $off-white;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 825px;
    padding: 12em 0;
}
section {
    background-color: white;
}
.discover {
    @include discoverFlip(false);
}
.discover-content {
    width: 40%;
    margin-left: 14em;
    margin-right: calc((100% - 82%) / 2);
    margin-bottom: -0.5em;
    p {
        margin: 0.7em 0;
    }
}
.discover-flip {
    @include discoverFlip(true);
    .discover-content {
        text-align: right;
        margin-right: 14em;
        margin-left: calc((100% - 82%) / 2);
        margin-top: 30px;
    }
}
.more-info {
    background-color: $off-white;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 6.5em 0 3.6em;
    }
    li {
        padding-left: 3.8em; 
        width: 50%;
        margin: 1em 0;
        p {
            margin: 0.75em 0;
        }
    }
}
.founder {
    background-color: $off-white;
    padding: 6em 0;
    .wrapper {
        display: flex;
    }
    img {
        @include imgShadow(false);
        min-width:245px;
        height: 245px;
        flex: 0 0 245px;
    }
    .founder-content {
        margin-left: 6.4em;
    }
}
.gallery-container {
    background-color: white;
    padding: 5.2em 0;
}