@mixin imgShadow($left-img: false) {
    flex: 0 0 41%;
    @if not $left-img {
        box-shadow: $shadow-size $shadow-size 0 -10px $sunny-yellow;
    } @else {
        box-shadow: -$shadow-size $shadow-size 0 -10px $sunny-yellow;
    }
}

@mixin discoverFlip($left-img: false) {
    display: flex;
    align-items: flex-end;
    position: relative;
    @if not $left-img {
            top: $shadow-adjust;
        } @else {
            flex-direction: row-reverse;
            align-items: flex-start;
            bottom: $shadow-adjust;
    }
    img {
        @include imgShadow($left-img);
    }
}