@mixin imgShadow($right-img: false) {
    @if not $right-img {
        box-shadow: $shadow-size $shadow-size 0 -10px $sunny-yellow;
    } @else {
        box-shadow: -$shadow-size $shadow-size 0 -10px $sunny-yellow;
    }
}

@mixin discoverFlip($left-img: false) {
    display: flex;
    align-items: flex-end;
    position: relative;
    @if not $left-img {
            top: $shadow-adjust;
        } @else {
            flex-direction: row-reverse;
            align-items: flex-start;
            bottom: $shadow-adjust;
    }
    img {
        flex: 0 0 41%;
        @include imgShadow($left-img);
    }
}
@mixin postDate($post: true) {
    color: $forest-green;
    font-family: $font-header;
    @if $post {
        font-style: italic;
        .publish-author {
            font-weight: 700;
        }
    } @else {
        font-weight: 700;
    }
}