$black: #2c2c2c;
$off-white: #f0efed;
$forest-green: #074115;
$sunny-yellow: #f8e71c;
$green: #0e902d;

$font-header: 'Josefin Sans', sans-serif;
$font-body: 'Roboto', sans-serif;

$shadow-size: 25px;
$shadow-adjust: ($shadow-size + 15px) * -1;
