@-webkit-keyframes hover-arrow {
  0% {
    left: 100%;
  }
  80% {
    left: -15%;
  }
  100% {
    left: 0%;
  }
}

@keyframes hover-arrow {
  0% {
    left: 100%;
  }
  80% {
    left: -15%;
  }
  100% {
    left: 0%;
  }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f0efed;
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.skip-link {
  position: absolute;
  top: 5px;
  left: -1000px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 50%;
  outline-color: white;
}

.wrapper {
  max-width: 1280px;
  width: 81%;
  margin: 0 auto;
}

.wrapper-lg {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .wrapper {
    width: 90%;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4,
input, textarea, button,
.logo, .top-nav, .read-more {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h1 span {
  color: #f8e71c;
}

h2, h3 {
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.home h1 {
  font-size: 8.3em;
  font-weight: 400;
  line-height: 0.83em;
}

.home .about h2 {
  font-size: 2.8em;
  letter-spacing: 1.3px;
}

.blog-title {
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 1.3px;
}

@media (max-width: 1280px) {
  body {
    font-size: 1.6rem;
  }
}

@media (max-width: 1028px) {
  body {
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .home h1 {
    font-size: 5.2em;
  }
}

main a {
  color: #074115;
  font-weight: 700;
  font-style: italic;
  position: relative;
  z-index: 1;
}

aside a::before {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 40%;
  left: 0;
  bottom: 0%;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
  background-color: #f8e71c;
  z-index: -1;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
}

aside a:hover::before, aside a:focus::before {
  width: 110%;
}

.logo {
  font-size: 2.2em;
  text-transform: capitalize;
}

.publish-info {
  color: #074115;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

.publish-info .publish-author {
  font-weight: 700;
}

address p:first-child {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.5em 0;
}

.read-more,
.find-more,
.post-btn {
  background-color: #0e902d;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  width: 18ch;
  padding: 0.5em 0;
  margin: 1.8em 0;
}

.read-more:focus,
.find-more:focus,
.post-btn:focus {
  outline: 1px dotted white;
  outline-offset: -7px;
}

.discover-content .read-more {
  display: inline-block;
  text-align: center;
  width: 13ch;
  margin-bottom: 0;
}

.find-more {
  display: inline-block;
  text-align: center;
}

.post-btn {
  width: 100%;
  padding: 0.8em;
  margin: 0;
}

@media (max-width: 700px) {
  .read-more,
  .find-more {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.read-more:hover, .read-more:focus,
.find-more:hover,
.find-more:focus {
  position: relative;
}

.read-more::before, .read-more::after,
.find-more::before,
.find-more::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #f8e71c;
}

.read-more::before,
.find-more::before {
  width: 0%;
  height: 10px;
  right: 0%;
  bottom: -10px;
}

.read-more::after,
.find-more::after {
  width: 10px;
  height: 0%;
  right: -10px;
  top: 10px;
}

.read-more:hover:before, .read-more:focus:before,
.find-more:hover:before,
.find-more:focus:before {
  width: 90%;
  -webkit-transition: 120ms width 200ms ease-in;
  transition: 120ms width 200ms ease-in;
}

.read-more:hover::after, .read-more:focus::after,
.find-more:hover::after,
.find-more:focus::after {
  height: 100%;
  -webkit-transition: height 150ms linear;
  transition: height 150ms linear;
}

.post-btn {
  position: relative;
}

.post-btn::before, .post-btn::after {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  left: 3%;
  bottom: 50%;
  background-color: #f8e71c;
  -webkit-transition: width 200ms linear;
  transition: width 200ms linear;
}

.post-btn::after {
  left: 67%;
}

.post-btn:hover::before, .post-btn:focus::before {
  width: 30%;
}

.post-btn:hover::after, .post-btn:focus::after {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
  width: 30%;
}

.post-btn:not(:hover)::before, .post-btn:not(:focus)::before {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.post-btn:active {
  top: 2px;
  left: 2px;
}

.burger-menu {
  font-size: 1.5em;
  padding-top: 0.1em;
  padding-left: 0.2em;
}

.more-info li h3 {
  position: relative;
}

.more-info li h3::before {
  font-family: "Font Awesome 5 Free";
  font-size: 0.9em;
  content: "\f06c";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -2.6em;
  top: -0.15em;
  width: 1.9em;
  height: 1.9em;
  background-color: #f8e71c;
  border-radius: 50%;
}

.more-info li:nth-child(2) h3::before {
  content: "\f0c0";
}

.more-info li:nth-child(3) h3::before {
  content: "\f15b";
  font-weight: 900;
}

.more-info li:nth-child(4) h3::before {
  content: "\f095";
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.gallery li {
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.gallery li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 700px) {
  .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .gallery li:last-child {
    display: none;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 0;
}

.comment img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-right: 2.15em;
}

.comment-info {
  color: #074115;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .comment img {
    width: 63px;
    height: 63px;
  }
}

@media (max-width: 700px) {
  .comment {
    display: block;
  }
  .comment img {
    float: left;
  }
  .comment .comment-info time {
    display: block;
  }
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2.4em;
}

form > * {
  font-weight: 300;
  background-color: inherit;
  border: 0;
  padding: 1.4em 1em;
}

input {
  border-bottom: 1px solid #0e902d;
}

textarea {
  grid-column: span 2;
  border: 1px solid #0e902d;
  height: 185px;
  resize: none;
  padding: 2.1em 2em;
}

button {
  grid-column: span 2;
}

@media (max-width: 768px) {
  form {
    gap: 1.8em;
  }
  form > * {
    padding: 0.8em 0.6em;
  }
  form input {
    grid-column: span 2;
  }
}

.social-list {
  display: inline-block;
}

.social-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 125px;
}

.social-list a {
  color: #0e902d;
  position: relative;
  padding: 3px;
}

.social-list a:hover, .social-list a:focus {
  color: white;
}

.social-list a:focus {
  outline: 1px dotted #0e902d;
  outline-offset: 5px;
}

.social-list a::before {
  content: '';
  position: absolute;
  display: block;
  height: 2em;
  width: 2em;
  left: 45%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}

.social-list a:hover::before, .social-list a:focus::before {
  background-color: #0e902d;
}

.top-nav {
  width: 100%;
  background-color: black;
  padding-top: 8px;
  z-index: 2;
}

.top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.top-nav li:not(:first-child) {
  padding-bottom: 0.8em;
  font-weight: 700;
}

.top-nav li:not(:first-child) a {
  padding: 1em 0;
  position: relative;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}

.top-nav li:not(:first-child) a:hover::before, .top-nav li:not(:first-child) a:focus::before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.2em;
  content: "\f0d7";
  position: absolute;
  display: inline-block;
  top: -30%;
  -webkit-animation: hover-arrow 400ms 1 ease-in forwards;
          animation: hover-arrow 400ms 1 ease-in forwards;
  color: #f8e71c;
}

.top-nav li:not(:first-child) a:hover, .top-nav li:not(:first-child) a:focus {
  color: #f8e71c;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.top-nav .current-page {
  color: #f8e71c;
}

.burger-menu {
  display: none;
  width: 135px;
  text-align: right;
}

.burger-toggle {
  visibility: hidden;
  position: absolute;
  left: 95%;
}

@media (max-width: 768px) {
  .home .top-nav,
  .top-nav .wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home .top-nav ul,
  .top-nav .wrapper ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    height: 2.35em;
    overflow: hidden;
    -webkit-transition: height 200ms linear;
    transition: height 200ms linear;
  }
  .home .top-nav li:not(:first-child),
  .top-nav .wrapper li:not(:first-child) {
    padding-right: 1em;
  }
  .burger-menu {
    display: inline-block;
    -webkit-transition: color 200ms linear;
    transition: color 200ms linear;
  }
  .burger-menu:hover,
  .burger-menu:focus {
    cursor: pointer;
    color: #f8e71c;
  }
  .burger-toggle:checked ~ ul {
    height: 200px;
  }
  .top-nav .wrapper ul {
    background-color: black;
    padding: 0 10px;
    left: -10px;
  }
}

@media (max-width: 540px) and (max-height: 770px) {
  .home .top-nav li:not(:first-child) {
    background-color: black;
    text-align: right;
    width: 100%;
    height: 100%;
  }
  .top-nav {
    z-index: 5;
  }
}

header {
  background-size: cover;
  color: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65vh;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 700px) {
  header {
    height: 55vh;
  }
}

footer {
  background-color: #2c2c2c;
  color: #f0efed;
  font-size: 0.9em;
  padding: 0.5em 0 0.2em;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a:hover,
footer a:focus {
  color: #f8e71c;
  text-decoration: underline;
}

.col-2-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w-70 {
  width: 65%;
  position: relative;
  top: -200px;
  padding-left: 20px;
  margin-bottom: -120px;
}

.w-30 {
  width: 30%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 80px;
}

@media (max-width: 700px) {
  .col-2-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 93%;
    margin: 0 0 0 auto;
  }
  .col-2-layout.wrapper-lg {
    width: 97%;
  }
  .w-70 {
    width: 100%;
    top: -100px;
  }
  .w-30 {
    width: 100%;
  }
}

.home {
  background-color: white;
}

.home header {
  background-image: url(../assets/home-image-1.jpg);
  height: 83vh;
  position: relative;
}

.home header .top-nav {
  background: none;
}

.home h1 {
  height: 100%;
  width: 7ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 0.55em;
  z-index: 2;
}

.home .header-img {
  position: absolute;
  width: 44vw;
  min-width: 480px;
  max-width: 845px;
  right: 0;
  bottom: -14%;
}

@media (max-width: 1280px) {
  .home header {
    background-position: 45%;
  }
}

@media (max-width: 768px) {
  .home .header-img {
    display: none;
  }
}

@media (max-width: 700px) {
  .home header {
    height: 55vh;
  }
  .home h1 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 100px;
  }
}

.about-container {
  background-color: #f0efed;
}

.about {
  text-align: center;
  margin: 0 auto;
  width: 65%;
  padding: 12em 0;
}

@media (max-width: 768px) {
  .about {
    padding: 8em 0;
  }
}

@media (max-width: 700px) {
  .about {
    width: 90%;
  }
}

section {
  background-color: white;
}

.grid {
  position: relative;
  top: -40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 8% 15%;
}

.grid img {
  -webkit-box-shadow: 25px 25px 0 -10px #f8e71c;
          box-shadow: 25px 25px 0 -10px #f8e71c;
}

.grid img.flip {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
          box-shadow: -25px 25px 0 -10px #f8e71c;
}

.grid .discover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 125px;
}

.grid div.flip {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  text-align: right;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 30px;
  margin-left: 125px;
  margin-right: 0;
}

.grid div p {
  margin: 0.7em 0;
}

@media (max-width: 1028px) {
  .grid {
    gap: 11%;
  }
  .grid .discover-content {
    margin-right: 15%;
  }
  .grid div.flip {
    margin-left: 15%;
  }
}

@media (max-width: 768px) {
  .discover {
    padding: 5em 0 3.6em;
  }
}

@media (max-width: 700px) {
  .discover {
    padding: 0;
    margin: 0 0 9.6em;
  }
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 5%;
  }
  .grid img {
    width: 93%;
    margin: 0 auto 0 0;
  }
  .grid img.flip {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 93%;
    margin: 0 0 0 auto;
  }
  .grid .discover-content,
  .grid div.flip {
    margin: 0 5%;
  }
}

.more-info {
  background-color: #f0efed;
}

.more-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6.5em 0 3.6em;
}

.more-info li {
  padding-left: 3.8em;
  width: 50%;
  margin: 1em 0;
}

.more-info li p {
  margin: 0.75em 0.25em;
}

@media (max-width: 700px) {
  .more-info ul {
    display: block;
    padding-top: 4.6em;
  }
  .more-info li {
    width: 100%;
  }
  .more-info li p {
    margin-top: 0;
    margin-bottom: 2em;
  }
}

.founder {
  background-color: #f0efed;
  padding: 6em 0;
}

.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.founder .founder-img {
  width: 100%;
}

.founder img {
  -webkit-box-shadow: 25px 25px 0 -10px #f8e71c;
          box-shadow: 25px 25px 0 -10px #f8e71c;
}

.founder .founder-content {
  margin-left: 6.4em;
}

@media (max-width: 768px) {
  .founder .founder-img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 25%;
  }
}

@media (max-width: 700px) {
  .founder .wrapper {
    display: block;
  }
  .founder .founder-img,
  .founder .founder-content {
    width: 65%;
    margin: 0 auto;
  }
  .founder .founder-content {
    margin-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-container {
  background-color: white;
  padding: 5.2em 0;
}

.blog {
  background-color: #f0efed;
}

.blog header {
  background-image: url(../assets/blog-header-1.jpg);
}

.blog h1 {
  padding-bottom: 0.75em;
}

.blog .sidebar .wrapper-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog .sidebar .wrapper-lg img {
  -webkit-box-shadow: 30px 15px 0 -15px white, 30px 0 0 -15px white;
          box-shadow: 30px 15px 0 -15px white, 30px 0 0 -15px white;
}

.blog .blog-banner {
  -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
          box-shadow: -25px 25px 0 -10px #f8e71c;
}

@media (max-width: 1280px) {
  .blog header {
    background-position: 35%;
  }
  .blog h1 {
    padding-bottom: 1.4em;
  }
}

.post-container {
  margin-left: -10px;
  padding: 4em 0 0.65em 2.4em;
  -webkit-box-shadow: -5px 5px 0 #f8e71c;
          box-shadow: -5px 5px 0 #f8e71c;
}

.post-content {
  padding-top: 1.8em;
}

.post-content p {
  margin: 1em 0;
}

.comments-container {
  margin: 0 -10px;
  padding: 2.4em 0;
  padding-left: 2.4em;
}

@media (max-width: 700px) {
  .blog header h1 {
    padding-bottom: 100px;
  }
  .comments-container,
  .post-container {
    width: 95%;
    padding-top: 3em;
    padding-left: 1.6em;
  }
}

.side-container {
  width: 73%;
  background-color: white;
  -webkit-box-shadow: 15px 0 0 white;
          box-shadow: 15px 0 0 white;
  padding: 20px 15px;
}

.side-container p {
  margin-bottom: 3em;
}

.side-container li::before {
  content: "\2022";
  color: #0e902d;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.8em;
}

@media (max-width: 992px) {
  .side-container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .side-container {
    position: relative;
    top: -130px;
    width: 95%;
  }
}

.contact header {
  background-image: url(../assets/contact-header-1.jpg);
}

.contact header h1 {
  padding-bottom: 0.3em;
}

.contact header span {
  display: inline-block;
  width: 6ch;
  line-height: 1.2em;
}

.contact form {
  background-color: white;
  padding: 2em 3em;
  -webkit-box-shadow: -25px 25px 0 -10px #f8e71c;
          box-shadow: -25px 25px 0 -10px #f8e71c;
}

.contact form input, .contact form textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.contact main {
  padding-bottom: 135px;
}

@media (max-width: 1280px) {
  .contact header {
    background-position: 55%;
  }
}

@media (max-width: 700px) {
  .contact header h1 {
    padding-bottom: 100px;
  }
  .contact header h1 span {
    width: auto;
  }
  .contact form {
    padding: 2em;
  }
  .contact-container {
    text-align: right;
    margin-right: 2em;
  }
}
